@model ECommerce_MW.DAL.Entities.Country

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro de la eliminacion?</h3>
<div>
    <partial name="../Shared/PartialViews/_ContryDetails.cshtml" />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
    </form>
</div>